{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'fatima_portfolio/styles.css' %}" rel ="stylesheet">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include jQuery and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    <title>portfolio</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/3476/3476457.png">
</head>
<body style="background-color: #B3A59A;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'fatima_portfolio:index' %}">Fatima Anees Mulla</a>
        </div>
        <div class ="container-fluid nav justify-content-end">
            <ul class = "m-3 nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'fatima_portfolio:index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'fatima_portfolio:about' %}">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#carouselExample">Projects</a>
                  </li>    
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                  </li>            
            </ul>
      </nav>
    {% block body %}
    {% endblock %}
</body>
</html>